body{
	width: 760px; /* how wide to make your web page */
	margin: 0 auto;
	padding: 0;
}
div#main{
    margin: 0 auto; 
	padding: 10px;
}
table, th, td {
   border: 1px solid black;
}
th, td {
	width: 50%;
}
.pausebutton {
	border: 70px solid black;

}